<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta data -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
    <title><%= locals.title || 'Node Authentication' %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <!-- Font awesome -->
    <script
      src="https://kit.fontawesome.com/27b86ddd38.js"
      crossorigin="anonymous"
    ></script>
  
    <!-- Adding our custom css -->
    <link rel="stylesheet" href="/css/common.css" >
    <%- style %>

  </head>
  
  <body>
    <div class="main">    
      <!-- Adding body -->
      <%- body %>
    </div>
  
    <!-- Our own scripts -->
    <%- script %>
    <script>
      <% if(locals.flash.success && locals.flash.success.length > 0) { %>
        new Noty({
          theme: 'relax',
          text: "<%= flash.success %>",
          type: 'success',
          layout: 'topRight',
          timeout: 1500

        }).show();
      <% } %>
      <% if (locals.flash.error && locals.flash.error.length > 0) { %>
        new Noty({
          theme: 'relax',
          text: "<%= flash.error %>",
          type: 'error',
          layout: 'topRight',
          timeout: 1500

        }).show();
      <% } %>
    </script>
  </body>
</html>
